[user]
    # set in ~/.gitconfig_local
[push]
	default = simple
[core]
	editor = vim
	attributesfile = ~/.gitattributes
[include]
    path = ~/.gitconfig_local
[alias]
    # https://tekin.co.uk/2020/01/clean-up-your-git-branches-and-repositories
	delete-merged = !git branch --merged master | egrep -v \"(^\\*|^  master$)\" | xargs git branch --delete
	delete-gone = !git fetch --prune && git branch --verbose | awk '/\\[gone]/{print $1}' |  xargs git branch --delete --force
